.idea/*
config.yml
AdversarialTraining/adv_samples/
AdversarialTraining/models/
AdversarialTraining/result/
AdversarialTraining/details/
AdversarialTraining/loss/
AdversarialTraining/__pycache__/
AdversarialTraining/old_models
AdversarialTraining/old_result